<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <link rel='import' href='/polymer/polymer.html'>
    <link rel='import' href='/iron-ajax/iron-ajax.html'>
    <link rel='import' href='/star-wars-generator/character-characteristics.html'>
    <link rel='import' href='/star-wars-generator/character-attribute.html'>
    <link rel='import' href='/star-wars-generator/character-defense.html'>
    <link rel='import' href='/star-wars-generator/character-skills.html'>
    <script src="/webcomponentsjs/webcomponents-lite.min.js" async></script>

  </head>
  <body>

    <iron-ajax url="/characters/zeroki.json" last-response="{{Character}}" auto></iron-ajax>

    <% var rank; %>

    <div class="content">

      <section class="character">

        <table>
          <tr>
            <th>
              Character Name:
            </th>
            <td>
              <%= Character.Description.CharName %>
            </td>
            <th>
              Player Name:
            </th>
            <td>
              <%= Character.Description.PlayerName %>
            </td>
          </tr>
          <tr>
            <th>
              Species:
            </th>
            <td>
              <%= Character.Species.SpeciesKey %>
            </td>
            <th>
              Career:
            </th>
            <td>
              <%= Character.Career.CareerKey %>
            </td>
          </tr>
          <tr>
            <th>
              Specialisations:
            </th>
            <td>
              <%= Character.Career.StartingSpecKey %>
            </td>
            <th>

            </th>
            <td>

            </td>
          </tr>
        </table>

      </section>

      <div class="heading">Characteristics</div>

      <section class="characteristics">

        <% /*for (power of Character.Characteristics.CharCharacteristic) {   %>

        <!--<div class="power">
          <img src="/images/power_backing.png">
          <div class="rating">
            <%   rank = Number(power.Rank.SpeciesRanks | 0) + Number(power.Rank.PurchasedRanks | 0);   %>
            <div>
              <%=   rank   %>
            </div>
          </div>
          <div class="classification">
            <p><%=   power.Name   %></p>
          </div>
        </div>-->

        <%   }*/ %>

        <% for (power of Character.Characteristics.CharCharacteristic) { %>

        <character-characteristics power-species-ranks="<%= power.Rank.SpeciesRanks | 0 %>"
                                   power-purchased-ranks="<%= power.Rank.PurchasedRanks | 0 %>"
                                   power-name="<%= power.Name %>"></character-characteristics>

        <% } %>

      </section>

      <div class="heading">Attributes</div>

      <section class="attributes">

        <div class="combat-stats">
          <character-attribute class="left" attribute-name="Wound"
                               attribute-starting-ranks="<%= Character.Attributes.WoundThreshold.StartingRanks | 0 %>"
                               attribute-species-ranks="<%= Character.Attributes.WoundThreshold.SpeciesRanks | 0 %>"
                               attribute-talent-ranks="<%= Character.Attributes.WoundThreshold.TalentRanks | 0 %>"
                               attribute-purchased-ranks="<%= Character.Attributes.WoundThreshold.PurchasedRanks | 0 %>"></character-attribute>

          <character-attribute class="right" attribute-name="Strain"
                               attribute-starting-ranks="<%= Character.Attributes.StrainThreshold.StartingRanks | 0 %>"
                               attribute-species-ranks="<%= Character.Attributes.StrainThreshold.SpeciesRanks | 0 %>"
                               attribute-talent-ranks="<%= Character.Attributes.StrainThreshold.TalentRanks | 0 %>"
                               attribute-purchased-ranks="<%= Character.Attributes.StrainThreshold.PurchasedRanks | 0 %>"></character-attribute>

          <div class="current">

          </div>

        </div>

        <div class="counters">

          <%
          Character.Attributes.DefenseRanged = Character.Attributes.DefenseRanged |= {};
          Character.Attributes.DefenseMelee = Character.Attributes.DefenseMelee |= {};
          %>

          <character-attribute class="right" attribute-name="Soak"
                               attribute-starting-ranks="<%= Character.Attributes.SoakValue.StartingRanks | 0 %>"
                               attribute-species-ranks="<%= Character.Attributes.SoakValue.SpeciesRanks | 0 %>"
                               attribute-talent-ranks="<%= Character.Attributes.SoakValue.TalentRanks | 0 %>"
                               attribute-purchased-ranks="<%= Character.Attributes.SoakValue.PurchasedRanks | 0 %>"></character-attribute>

          <character-defense defense-ranged-starting-ranks="<%= Character.Attributes.DefenseRanged.StartingRanks | 0 %>"
                             defense-ranged-species-ranks="<%= Character.Attributes.DefenseRanged.SpeciesRanks | 0 %>"
                             defense-ranged-talent-ranks="<%= Character.Attributes.DefenseRanged.TalentRanks | 0 %>"
                             defense-ranged-purchased-ranks="<%= Character.Attributes.DefenseRanged.PurchasedRanks | 0 %>"
                             defense-melee-starting-ranks="<%= Character.Attributes.DefenseMelee.StartingRanks | 0 %>"
                             defense-melee-species-ranks="<%= Character.Attributes.DefenseMelee.SpeciesRanks | 0 %>"
                             defense-melee-talent-ranks="<%= Character.Attributes.DefenseMelee.TalentRanks | 0 %>"
                             defense-melee-purchased-ranks="<%= Character.Attributes.DefenseMelee.PurchasedRanks | 0 %>"></character-defense>

        </div>

      </section>

      <div class="heading">Skills</div>

      <section class="skills">

        <character-skills skill-name="Athletics" career-skill="true" career-rank="1" skill-rank="4"
                          remove-setback="1"></character-skills>

      </section>

    </div>

  </body>
</html>
